@implements IDisposable
@inject NavigationManager navigationManager
@inject IDbContextFactory<CodigoAzulContext> DbFactory
@inject IMessageService message;
@using Olimpiadas2023.Enum;
@page "/PacienteAgregar"
<style>
    /* tile uploaded pictures */
    .upload-list-inline .ant-upload-list-item {
        float: left;
        width: 200px;
        margin-right: 8px;
    }

    .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
        float: right;
    }

    .upload-list-inline .ant-upload-animate-enter {
        animation-name: uploadAnimateInlineIn;
    }

    .upload-list-inline .ant-upload-animate-leave {
        animation-name: uploadAnimateInlineOut;
    }

    #crear-comunicacion {
        background-color: #C43A3A;
        color: white;
        font-size: 20px;
        font-family: calibri light;
        border: 0px;
        border-radius: 8px;
    }

    #blancoA {
        width: 100%;
        padding: 15px;
    }

    #estilo {
        border: 1px;
        border-radius: 8px;
        background-color: #AFAFAF;
    }

    #texto {
        font-size: 20px;
        font-family: calibri light;
        Font-Weight: bold;
    }
</style>

<Form Model="@PacienteVM"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <FormItem Label="Nombre">
        <Input @bind-Value="@PacienteVM.Nombre" />
    </FormItem>
    <FormItem Label="Apellido">
        <Input @bind-Value="@PacienteVM.Apellido" />
    </FormItem>
    <FormItem Label="Documento">
        <Input @bind-Value="@PacienteVM.Documento" />
    </FormItem>
    <FormItem Label="Direccion">
        <Input @bind-Value="@PacienteVM.Direccion" />
    </FormItem>
    <FormItem Label="Telefono">
        <Input @bind-Value="@PacienteVM.Telefono" />
    </FormItem>
    <FormItem Label="Fecha de ingreso">
        <DatePicker TValue="DateTime" ShowTime="@true" OnChange="@OnChange" @bind-Value="@PacienteVM.FechaIngreso" />
    </FormItem>
    <FormItem Label="Fecha de alta">
        <DatePicker TValue="DateTime" ShowTime="@true" OnChange="OnChange" @bind-Value="@PacienteVM.FechaAlta" />
    </FormItem>
    <FormItem Label="Tipo estado licencia">
        <EnumSelect TEnum="TipoGrupoSanguineo" @bind-Value="@PacienteVM.GrupoSanguineo" />
    </FormItem>
    <FormItem Label="¿Padece de alguna alergia?">
        <Switch @bind-Checked="switchValue" />
    </FormItem>
    @if (switchValue == true)
    {
        <div>
            <FormItem Label="Alergias">
                <Input @bind-Value="@PacienteVM.Descripcion" />
            </FormItem>

            <FormItem Label="Alergias">
                <Table Context="Alergias" DataSource="ListaAlergiasVm" Bordered>
                    <PropertyColumn Property="c=>c.Descripcion"></PropertyColumn>
                    <ActionColumn Title="Acciones">
                        <Popconfirm Title="¿Quieres borrar esta alergia?"
                                OnConfirm="()=> deleteRowAlergias(Alergias.Descripcion)"
                                OkText="Si"
                                CancelText="No"
                                Style="display: flex;justify-content: center;align-items: center;">
                            <i class="fa-solid fa-trash" style="color: #e90c0c;cursor: pointer;"></i>
                        </Popconfirm>
                    </ActionColumn>
                </Table>
            </FormItem>

            <FormItem>
                <Button OnClick="@(() => AgregarAlergia())">Agregar alergia</Button>
            </FormItem>
        </div>
    }
    <FormItem Label="¿Padece de alguna enfermedad?">
        <Switch @bind-Checked="switchValueEnf" />
    </FormItem>
    @if (switchValueEnf == true)
    {
        <div>
            <FormItem Label="Enfermedades">
                <Input @bind-Value="@PacienteVM.Descripcion" />
            </FormItem>

            <FormItem Label="Enfermedades">
                <Table Context="Enfermedades" DataSource="ListaEnfermedadesVm" Bordered>
                    <PropertyColumn Property="c=>c.Descripcion"></PropertyColumn>
                    <ActionColumn Title="Acciones">
                        <Popconfirm Title="¿Quieres borrar esta Enfermedad?"
                                OnConfirm="()=> deleteRowAlergias(Enfermedades.Descripcion)"
                                OkText="Si"
                                CancelText="No"
                                Style="display: flex;justify-content: center;align-items: center;">
                            <i class="fa-solid fa-trash" style="color: #e90c0c;cursor: pointer;"></i>
                        </Popconfirm>
                    </ActionColumn>
                </Table>
            </FormItem>

            <FormItem>
                <Button OnClick="@(() => AgregarEnfermedad())">Agregar Enfermedad</Button>
            </FormItem>
        </div>
    }
    <FormItem Label="¿Utiliza algun medicamento?">
        <Switch @bind-Checked="switchValueMed" />
    </FormItem>
    @if (switchValueMed == true)
    {
        <div>
            <FormItem Label="Medicamentos">
                <Input @bind-Value="@PacienteVM.Descripcion" />
            </FormItem>

            <FormItem Label="Medicamentos">
                <Table Context="Medicamentos" DataSource="ListaMedicamentosVm" Bordered>
                    <PropertyColumn Property="c=>c.Descripcion"></PropertyColumn>
                    <ActionColumn Title="Acciones">
                        <Popconfirm Title="¿Quieres borrar este medicamento?"
                                OnConfirm="()=> deleteRowAlergias(Medicamentos.Descripcion)"
                                OkText="Si"
                                CancelText="No"
                                Style="display: flex;justify-content: center;align-items: center;">
                            <i class="fa-solid fa-trash" style="color: #e90c0c;cursor: pointer;"></i>
                        </Popconfirm>
                    </ActionColumn>
                </Table>
            </FormItem>

            <FormItem>
                <Button OnClick="@(() => AgregarMedicamentos())">Agregar alergia</Button>
            </FormItem>
        </div>
    }
    <style>
        .ant-col-offset-8 {
        margin-left: 0px !important;
        }
    </style>
    <FormItem Style="width: 100% !important;
            display: flex !important;
            justify-content: flex-end !important;
            align-items: flex-end !important; height:100% !important; margin-bottom: -32px;" WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Agregar paciente
        </Button>
    </FormItem>
</Form>
@code {
    string searchString;
    IEnumerable<PacienteViewModel> selectedRows;
    List<Paciente>? pacientes { get; set; } = new();

    public class PacienteViewModel : PersonaViewModel
    {
        public List<Alergia> AlergiasList { get; set; } = new();
        public List<Enfermedad> EnfermedadesList { get; set; } = new();
        public List<Medicamento> MedicamentosList { get; set; } = new();
        public DateTime FechaIngreso { get; set; }
        public DateTime FechaAlta { get; set; }
        public Area? AreaPaciente { get; set; }
        public string? NuevaAlergia { get; set; }
        public string? Descripcion{ get; set; }    
    }
    public class AlergiasVm
    {
        public string? Descripcion { get; set; }
        public PacienteViewModel? PacienteVM { get; set; }
    }
    public class MedicamentoVm
    {
        public string? Descripcion { get; set; }
        public PacienteViewModel? PacienteVM { get; set; }
    }
    public class EnfermedadVm
    {
        public string? Descripcion { get; set; }
        public PacienteViewModel? PacienteVM { get; set; }
    }
    List<AlergiasVm> ListaAlergiasVm = new ();

    List<EnfermedadVm> ListaEnfermedadesVm = new();

    List<MedicamentoVm> ListaMedicamentosVm = new();

    PacienteViewModel PacienteVM = new PacienteViewModel();
    List<PacienteViewModel> PacientesVMList { get; set; } = new();
    private string nuevaAlergia;
    CodigoAzulContext Context { get; set; }
    bool switchValue = false;
    bool switchValueEnf = false;
    bool switchValueMed = false;
    int _pageIndex = 1;
    int _pageSize = 6;
    int _total = 0;



    protected override async Task OnInitializedAsync()
    {
        await Init();
    }

    private async Task Init()
    {
        PacienteVM = new();
        Context = DbFactory.CreateDbContext();
    }

    public void AgregarAlergia()
    {
        AlergiasVm aVm = new()
            {
                Descripcion = PacienteVM.Descripcion
            };
        ListaAlergiasVm.Add(aVm);
        StateHasChanged();

    }
    public void AgregarEnfermedad()
    {
        EnfermedadVm eVm = new()
            {
                Descripcion = PacienteVM.Descripcion
            };
        ListaEnfermedadesVm.Add(eVm);
        StateHasChanged();

    }
    public void AgregarMedicamentos()
    {
        MedicamentoVm mVm = new()
            {
                Descripcion = PacienteVM.Descripcion
            };
        ListaMedicamentosVm.Add(mVm);
        StateHasChanged();

    }

    public Alergia ConvertirAlergia(string descripcion)
    {
        // Crear una instancia de la clase `Alergia`.
        Alergia alergia = new Alergia();

        // Establecer el valor de la propiedad `Descripcion` con el valor del parámetro `descripcion`.
        alergia.Descripcion = descripcion;

        // Devolver la instancia de la clase `Alergia`.
        return alergia;
    }
    public async void OnFinish(EditContext editContext)
    {
        try
        {
            if (await Context.Pacientes.SingleOrDefaultAsync(c => c.Documento == PacienteVM.Documento) != null)
            {
                await message.Error("Número de equipo repetido");
                return;
            }
            PacientesVMList.Clear();
            var pacienteDB = await Context.Pacientes.ToListAsync();
            Paciente pacientesCarga = new()
                {
                    Nombre = PacienteVM.Nombre,
                    Apellido = PacienteVM.Apellido,
                    Direccion = PacienteVM.Direccion,
                    Documento = PacienteVM.Documento,
                    Telefono = PacienteVM.Telefono,
                    GrupoSanguineo = PacienteVM.GrupoSanguineo,
                    FechaIngreso = PacienteVM.FechaIngreso,
                    FechaAlta = PacienteVM.FechaAlta,
                    Alergias = new(),
                    Enfermedades = new(),
                    Medicamentos = new(),

                };


            // Convertir cada alergia del viewmodel a una alergia del model
            foreach (var alergiaVm in ListaAlergiasVm)
            {
                Alergia alergia = new Alergia()
                    {
                        Descripcion = alergiaVm.Descripcion
                    };

                // Agregar la alergia a la lista de alergias del model
                pacientesCarga.Alergias.Add(alergia);
            }
            foreach (var enfermedadVm in ListaEnfermedadesVm)
            {
                Enfermedad enfermedad = new Enfermedad()
                    {
                        Descripcion = enfermedadVm.Descripcion
                    };

                // Agregar la alergia a la lista de alergias del model
                pacientesCarga.Enfermedades.Add(enfermedad);
            }
            foreach (var medicamentoVm in ListaMedicamentosVm)
            {
                Medicamento medicamento = new Medicamento()
                    {
                        Descripcion = medicamentoVm.Descripcion
                    };

                // Agregar la alergia a la lista de alergias del model
                pacientesCarga.Medicamentos.Add(medicamento);
            }
            Context.Pacientes.Add(pacientesCarga);
            await Context.SaveChangesAsync();
            await Init();
            StateHasChanged();
            await message.Success("Paciente cargado correctamente");
        }
        catch (Exception ex)
        {
            await Init();
            StateHasChanged();
            if (ex.InnerException != null)
                await message.Error(ex.InnerException.Message, 5);
            else
                await message.Error(ex.Message, 5);
        }
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(PacienteVM)}");
    }
    private void OnChange(DateTimeChangedEventArgs args)
    {
        Console.WriteLine($"Selected Time: {args.Date}");
        Console.WriteLine($"Formatted Selected Time: {args.DateString}");
    }
    void deleteRowAlergias(string Alergia)
    {
        ListaAlergiasVm = ListaAlergiasVm.Where(d => d.Descripcion != Alergia).ToList();
    }
    void deleteRowEnfermedades(string Enfermedades)
    {
        ListaEnfermedadesVm = ListaEnfermedadesVm.Where(d => d.Descripcion != Enfermedades).ToList();
    }
    void deleteRowMedicamentos(string Medicamentos)
    {
        ListaMedicamentosVm = ListaMedicamentosVm.Where(d => d.Descripcion != Medicamentos).ToList();
    }
    public void Dispose()
    {
        Context?.Dispose();
    }
}